<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<h1>Thymeleaf Test</h1>
	<p th:text="${uname}"></p>	
	
	<div th:if="${user}">
		<div th:text="${user}"></div>
		<div th:text="${userInfo}"></div>
		<div th:text="${user.uname}"></div>
	</div>
	
	<div th:unless="${user}">
		<p>no User!!</p>
	</div>
	
	<ul>
		<li th:each = "data : ${users}"  th:text = "${data}"></li>
		<li th:each = "data : ${users}"  th:text = "${data.uid} + ', ' + ${data.uname}"></li>
		<li th:each = "data : ${usres}"  th:object="${data}">
			<span th:text="|*{uid}|"></span>
			<strong th:text="${data.uname}"></strong>
		</li>
		
		<a th:href="@{http://localhost:9090/hello}">HELLO</a>
		
		<p th:text="'Name: ' + ${name}"></p>
		<form method="POST" action="korean">
			<input type="text" name="name" value="세종대왕" />
			<button type="submit">KOREAN</button>
		</form>
		
	</ul>
	
</body>
</html>